$primary-color: linear-gradient(0deg, rgba(67,58,219,1) 0%, rgba(16,16,148,1) 0%, rgba(83,83,186,1) 15%, rgba(56,152,236,1) 67%);
$secondary-color: linear-gradient(0deg, rgba(67,58,219,1) 0%, rgba(16,16,148,1) 0%, rgba(83,83,186,1) 15%, rgba(56,152,236,1) 67%);
$font-primary: #000;
$font-secondary: #79b8f3;
